name: ci-build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          cache: true
          go-version-file: 'go.mod'
      - run: |
          go mod download
      - uses: golangci/golangci-lint-action@v9
      - run: |
          go build -v .
